<div class="panel panel-primary">
    <div class="panel-heading">
       <h2 style="text-align: center;color: blue;">Employee Profile</h2> 
    </div>
    <div class="panel-body">
      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

        <thead>
          <tr>
            <th >Name</th>
            <td>{{employee.name}}</td>
          </tr><tr>  
            <th>Mobile</th>
            <td>{{employee.mobile}}</td>
         </tr><tr>  
            <th >Email</th>
            <td>{{employee.email}}</td>
        </tr><tr>  
            <th >Department</th>
            <td>{{employee.department}}</td>
        </tr><tr> 
            <th >Experience</th>
            <td>{{employee.experience}}</td>
        </tr><tr>
            <th><a class="nav-link"  routerLink="/add" routerLinkActive="active">Add Employee</a></th>
            <th><a class="nav-link" routerLink="/employees" routerLinkActive="active">Employees List</a></th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
